<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>双飞翼布局</title>

  li*30>lorem2

  <template>
    <div class="menu">
      <ul>
        <li
          v-for="item in menuItems"
          :key="item.id"
          @click="handClick(item)"
          :class="{ 'active': activeItem === item.id }">
            {{item.name}}
            <Menu v-if="item.children" :menuItems="item.children">
            </Menu>
        </li>
      </ul>
    </div>
  </template>
  <script>
    export default {
      name: 'Menu',
      props: {
        menuItems: {
          type: 'Array',
          required: true,
          children
        }
      }
    }
  </script>

  <style>
    .container {
   display: flex;
 }
 .main {
   flex: 1;
   order: 2;
   min-height: 300px;
 }
 .left {
   width: 200px;
   order: 1;
 }
 .right {
   width: 200px;
   order: 3;
 }
 </style>
 
</head>
<body>

    <div class="container">
        <div class="main">
          <div class="content">主内容区</div>
        </div>
        <div class="left">左侧栏</div>
        <div class="right">右侧栏</div>
      </div>
   
</body>
</html>
